<!-- <audio id="music" class="pull-right" autoplay>
  <source src="/assets/seagull.ogg" type="audio/ogg">
  Your browser does not support the audio tag.
</audio> -->
<legend>Contact us</legend>
<div class="span12">
        <strong>Administration hierarchy:</strong>
        <img src="/assets/nefertiti.png">
</div>
      <br>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <br>
    	<strong>Address:</strong> 6, EL NASR ST., EL GOMROUK, ALEX, EGYPT 	<br> <strong>Phone:</strong> +2 03- 4840127 – 4813726<br> <strong>Fax:</strong> +2 03- 4878399	<br><strong>E-mail: </strong><a href="mailto:nefertitimarine@hotmail.com">nefertitimarine@hotmail.com</a>
      <hr>
    	<div>
        <%if @flag == "true"%>
        <p style="color:red;">You did not enter all the fields</p>
        <%end%>
<%= form_tag("#{send_contact_path}", :method => "post") do %>
  <%= label_tag(:i1, "Name:") %>
  <%= text_field_tag(:n, "#{@name}") %>
  <%= label_tag(:i2, "Email:") %>
  <%= email_field_tag(:e, "#{@email}") %>
  <%= label_tag(:i3, "Message:") %>
  <%= text_area_tag "m", "#{@message}", :size=>"10x10" %>
  <br>
  <p style="color:red;">All fields above are required</p>
  <%= submit_tag "Send", class: "btn btn-success btn-large"%>
<% end %>
</div>
    </div>
    <div class="span6">
      <br>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.eg/maps?near=%D8%A7%D9%84%D8%AC%D9%85%D8%B1%D9%83,+%D8%B1%D8%A3%D8%B3+%D8%A7%D9%84%D8%AA%D9%8A%D9%86%D8%8C+%D9%82%D8%B3%D9%85+%D8%A7%D9%84%D8%AC%D9%85%D8%B1%D9%83%D8%8C+%D8%A7%D9%84%D8%A3%D8%B3%D9%83%D9%86%D8%AF%D8%B1%D9%8A%D8%A9&amp;geocode=CSEbHF2RIBRaFRc83AEdVPbHASkHVu77_cP1FDHg3U3NDu-yCA&amp;q=nefertiti+marine&amp;f=l&amp;dq=El+Gomrok,+Ras+at+Tin,+Qesm+Al+Gomrok,+Alexandria+Governorate&amp;sll=31.210518,29.88194&amp;sspn=0.019086,0.032015&amp;ie=UTF8&amp;hq=nefertiti+marine&amp;hnear=&amp;t=m&amp;cid=3079526335749487360&amp;ll=31.265309,30.008876&amp;spn=0.00642,0.00912&amp;z=16&amp;output=embed"></iframe><br /><small><a class="pull-right" href="https://maps.google.com.eg/maps?near=%D8%A7%D9%84%D8%AC%D9%85%D8%B1%D9%83,+%D8%B1%D8%A3%D8%B3+%D8%A7%D9%84%D8%AA%D9%8A%D9%86%D8%8C+%D9%82%D8%B3%D9%85+%D8%A7%D9%84%D8%AC%D9%85%D8%B1%D9%83%D8%8C+%D8%A7%D9%84%D8%A3%D8%B3%D9%83%D9%86%D8%AF%D8%B1%D9%8A%D8%A9&amp;geocode=CSEbHF2RIBRaFRc83AEdVPbHASkHVu77_cP1FDHg3U3NDu-yCA&amp;q=nefertiti+marine&amp;f=l&amp;dq=El+Gomrok,+Ras+at+Tin,+Qesm+Al+Gomrok,+Alexandria+Governorate&amp;sll=31.210518,29.88194&amp;sspn=0.019086,0.032015&amp;ie=UTF8&amp;hq=nefertiti+marine&amp;hnear=&amp;t=m&amp;cid=3079526335749487360&amp;ll=31.265309,30.008876&amp;spn=0.00642,0.00912&amp;z=16&amp;source=embed" style="color:#0000FF;text-align:right">Show bigger map</a></small></div></div></div>