<legend>Boats</legend>
<div class="well well-small span5"><img style="display: block; margin-left: auto; margin-right: auto;" src="/assets/osa_small.jpg">
	<br>
	<p style="text-align: center"><%= link_to "Osa Viscount-K", osa_path%>
	<br>
	8160 BHP
	</p>
</div>
<div class="well well-small span5"><img style="display: block; margin-left: auto; margin-right: auto; height: 120px;" src="/assets/ezz_small.gif">
	<br>
	<p style="text-align: center"><%= link_to "Ezz el karim", ezz_path%>
	<br>
	1700 BHP</p>
</div>
<div class="well well-small span5"><img style="display: block; margin-left: auto; margin-right: auto; height: 120px;" src="/assets/moustafa_small.jpg">
	<br>
	<p style="text-align: center"><%= link_to "Moustafa El Karim", moustafa_path%>
	<br>
	BHP
	</p>
</div>
<div class="well well-small span5"><img style="display: block; margin-left: auto; margin-right: auto;" src="/assets/shroock_small.jpg">
	<br>
	<p style="text-align: center"><%= link_to "Shroock El Karim", shroock_path%>
	<br>
	1500 BHP</p>
</div>
<div class="well well-small span5"><img style="display: block; margin-left: auto; margin-right: auto;" src="/assets/engy_small.jpg">
	<br>
	<p style="text-align: center"><%= link_to "Engy-K", engy_path%>
	<br>
	560 BHP
	</p>
</div>
<div class="well well-small span5"><img style="display: block; margin-left: auto; margin-right: auto; height: 120px;" src="/assets/Moamen_small.jpg">
	<br>
	<p style="text-align: center"><%= link_to "Moamen El Karim", moamen_path%>
	<br>
	1040 BHP
	</p>
</div>
<div class="well well-small span5"><img style="display: block; margin-left: auto; margin-right: auto; height: 120px;" src="/assets/Nader.jpg">
	<br>
	<p style="text-align: center"><%= link_to "Nader El Karim", nader_path%>
	<br>
	2250 BHP</p>
</div>