<!DOCTYPE html>
<html>
<head>
  <title>Nefertiti</title>
  <link rel="shortcut icon" href="/assets/small-logo.jpg">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="my-font">
	<div class="navbar navbar-inverse">
  <div class="navbar-inner" style="background-image:url('/assets/sea.jpg');">
    <div class="container-fluid">
      <a class="brand" href="<%=root_path%>"><img style="margin-left:60px;" src="/assets/logo.png"></a>
      <div class="pull-right" style="margin-top:90px;"><%= tabs %></div>
    </div>
  </div>
</div>
    <br>
    <div class="container">
      <%if !(request.original_url.include? "contact" or request.original_url.include? "boats")%>
      <div id="carousel-example-generic" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" style="width:950px; height:350px;">
    <div class="item active" style="width:950px; height:350px;">
      <img src="/assets/rig.jpg" alt="...">
      <div class="carousel-caption">
        Osa
      </div>
    </div>
    <div class="item" style="width:950px; height:350px;">
      <img src="/assets/Osa.jpg" alt="...">
      <div class="carousel-caption">
        Osa
      </div>
    </div>
    <div class="item" style="width:950px; height:350px;">
      <img src="/assets/Nader.jpg" alt="...">
      <div class="carousel-caption">
        Nader
      </div>
    </div>
    <div class="item" style="width:950px; height:350px;">
      <img src="/assets/Shorouk - Copy.jpg" alt="...">
      <div class="carousel-caption">
        Shorouk
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    &lsaquo;
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    &rsaquo;
  </a>
</div>
<br>
<%end%>
<%= yield %>
<div style="margin-top:30px"><hr style="width:905px; background-color:#000; border-color:#000;"><p style="text-align:center;"><a href="mailto:mohamedtamer92@gmail.com">Designed by: Aboul Azm, Mohamed</a></p></div>
</div>
<script type="text/javascript">
$('.carousel').carousel({
  interval: 3000
})
</script>
</body>
</html>
